<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>

    <title>Concrete compressive Strength Predictor </title>

</head>



<style>
        body {
            background-color:#000080;
            color: white;
            text-align: center;
            padding-right: 90px;
        }





        </style>

<body>
<a href="http://127.0.0.1:5000"><h1 style="float:left; height: 100px; width: 120px;font-size: 30px; font-family: 'Lucida Console', 'Courier New', monospace">Conc101.ai</h1></a>
<h1 style="font-size: 28; text-align: center; font-weight: bold;"><a href="http://127.0.0.1:5000"><u>Concrete Compressive Strength Predictor</u></a></h1>
<br>

<div class = "login" style="font-size: 18px">
    <!-- Inputs to our model-->
<form action="{{ url_for('predict')}} " method="post">
    <label for= "cement"> <b>Cement (in kg) : </b> </label>
    <input type = "text" step = "0.01" id= "cement" name = "cement" placeholder = "quantity" required = "required" />
    <br><br><br>
    <label for="blast_furnace_slag"> <b>Blast furnace slag (in kg) :</b> </label>
    <input type = "text" step = "0.01" id = "blast_furnace_slag" name = "bfs" placeholder = "quantity " required = "required" />
    <br><br><br>
     <label for="fly_ash"><b>Fly ash (in kg) :</b></label>
    <input type = "text" step = "0.01" id = "fly_ash" name = "fa" placeholder= "quantity " required = "required" />
    <br><br><br>
    <label for="water"> <b>Water (in kg) :</b></label>
    <input type = "text" step = "0.01" id = "water" name = "water" placeholder = "quantity " required = "required" />
    <br><br><br>
    <label for="superplasticizer"> <b>Superplasticizer (in kg) :</b></label>
    <input type = "text" step = "0.01" id = "superplasticizer" name="sp" placeholder = "quantity " required = "required" />
    <br><br><br>
   <label for="coarseaggregrate"> <b>Coarse Aggregrate (in kg) :</b></label>
    <input type = "text" step = "0.01" id = "coarseaggregrate" name="cag" placeholder = "quantity " required = "required" />
    <br><br><br>
   <label for="fineaggregrate"> <b>Fine Aggregrate (in kg) :</b></label>
    <input type = "text" step = "0.01" id = "fineaggregrate" name="fag" placeholder = "quantity " required = "required" />
    <br><br><br>
    <label for="age"> <b>Age (in days) :</b> </label>
     <select name="age" id="age" required = "required" >
                            <option value="" selected disabled>Select Age of the concrete</option>
                            <option value="7">7 days</option>
                            <option value="14">14 days</option>
                            <option value="28">28 days</option>
                            <option value="56">56 days</option>
                            <option value="90">90 days</option>
     </select>
    <br><br><br>



    <button type="submit" class="btn btn-primary btn-block btn-large" style="padding: 10px 15px" >Predict</button>
    <br><br>
    {{ prediction_text }}
    <br><br>

</form> <br><br><br><br><br>
    <!--footer class="button"></footer-->


    <style>
a:link, a:visited {
  color: white;
  padding: 2px 5px;
  }


</style>

</div>



</body>
</html>